---
import { Image } from "astro:assets";
import Layout from "../layouts/BaseLayout.astro";
import ImageBradleyOutside from "../assets/img/bradley/bradley-outside.jpg";
import { Content as ContactContent } from "../content/page-partials/contact.md";
import ContactForm from "../components/ContactForm";
---

<Layout title="Contact">
  <div class="container grid gap-10 lg:grid-cols-2">
    <div>
      <div
        class="prose prose-gray prose-invert pl-0 prose-h1:font-alternate prose-h1:text-4xl prose-h1:font-medium lg:p-10 lg:pl-0 grid gap-y-4"
      >
        <ContactContent />
        <ContactForm client:load />
      </div>
    </div>
    <div class="full-bleed grid place-items-end">
      <Image src={ImageBradleyOutside} alt="" class="sticky top-0" />
    </div>
  </div>
</Layout>
