---
import Layout from "../layouts/BaseLayout.astro";
import YouTubeEmbed from "../components/YouTubeEmbed";
import { Image } from "astro:assets";
import FancyHR from "../components/FancyHR";

import { Content } from "../content/page-partials/ob.md";
import ImageOBCover from "../assets/img/ob-cover.png";
---

<Layout
  description="The Orgelbüchlein Recording Project is a culmination of a 2-year long journey exploring this masterwork."
  title="Orgelbćuhelein Project"
>
  <section class="container grid gap-10">
    <div class="prose prose-xl prose-gray prose-invert mx-auto">
      <h1
        class="text-center font-alternate text-3xl font-medium uppercase lg:text-left xl:text-4xl"
      >
        The Orgelbüchlein Project
      </h1>
    </div>
    <div class="mx-auto grid max-w-[65ch] lg:grid-cols-2 lg:gap-4">
      <div class="full-bleed">
        <Image 
           src={ImageOBCover}
           alt="" 
          loading="eager"
          class="sticky top-0"
          widths={[300, 600, 800, 1000, 1200, 1600]}
          sizes="(max-width: 1024px) 100vw, (max-width: 1546px) 800px, 300px"
          fetchpriority="high"
        />
      </div>
      <div class="my-16 lg:my-0 flex justify-center  lg:items-center lg:p-10">
        <a
          href="https://ravencd.com/merchantmanager/product_info.php?products_id=381"
          class="rounded-full border-2 border-white bg-white px-4 py-2 font-alternate text-xl font-bold text-gray-950 transition-colors duration-300 ease-in-out hover:bg-gray-950 hover:text-white"
          >Buy from RavenCD</a
        >
      </div>
    </div>
    <div class="prose prose-gray prose-invert mx-auto">
      <Content />
    </div>
    <div class="prose mx-auto w-full">
      <FancyHR />
    </div>
    <div class="mx-auto lg:w-[65ch]">
      <div class="full-bleed w-full">
        <YouTubeEmbed
          src="https://www.youtube.com/embed/miwISYDcnRk?si=KHNd25q9kisp9QOH"
          client:idle
          client:only="preact"
        />
      </div>
    </div>
  </section>
</Layout>
