---
import {
  FaYoutube as YouTubeIcon,
  FaSpotify as SpotifyIcon,
  FaTelegram as TelegramIcon,
  FaItunesNote as MusicIcon,
  FaCompactDisc as CDIcon,
} from "react-icons/fa6";
---

<div class="flex flex-wrap gap-8 lg:items-center justify-center lg:justify-start">
  <a
    href="https://ravencd.com/merchantmanager/product_info.php?products_id=381"
    class="flex items-center gap-2 rounded-full border-2 border-white bg-white px-4 py-2 font-alternate text-lg font-bold text-gray-950 transition-colors duration-300 ease-in-out hover:bg-gray-950 hover:text-white"
    ><span class="inline-block w-5"><CDIcon /></span>Buy from RavenCD</a
  >
  <a
    href="https://open.spotify.com/album/6mS3gueOkxGS8f6vsd3cOW"
    class="flex items-center gap-2 rounded-full border-2 border-spotify bg-spotify px-4 py-2 font-alternate text-lg font-bold text-gray-950 transition-colors duration-300 ease-in-out hover:border-white hover:bg-gray-950 hover:fill-white hover:text-white"
    ><span class="inline-block w-5"><SpotifyIcon /></span>Stream on Spotify</a
  >
  <a
    href="https://music.apple.com/us/album/j-s-bach-orgelb%C3%BCchlein-bradley-burgess-organist/1790286587"
    class="flex items-center gap-2 rounded-full border-2 border-appleMusic bg-appleMusic px-4 py-2 font-alternate text-lg font-bold text-gray-950 transition-colors duration-300 ease-in-out hover:border-white hover:bg-gray-950 hover:text-white"
    ><span class="inline-block w-4"><MusicIcon /></span>Stream on Apple Music</a
  >
  <a
    href="https://music.youtube.com/playlist?list=OLAK5uy_ludME76CruB0LqE3bM-Y6J5pBJ_fSCriY"
    class="flex items-center gap-2 rounded-full border-2 border-youtube bg-youtube px-4 py-2 font-alternate text-lg font-bold text-gray-950 transition-colors duration-300 ease-in-out hover:border-white hover:bg-gray-950 hover:text-white"
    ><span class="inline-block w-5"><YouTubeIcon /></span>Stream on YouTube
    Music</a
  >
</div>
